.App{
    width: 70%;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    height: 100%;
    min-height: 100%;
    margin:0 15% 0 15%;
    background-color: #edf1f2;
    display: flex;
}
html,body,#root{
    background-color: white;
    height: 100%;
    width: 100%;

}
*{
    margin: 0;
    padding: 0;
  
}